@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
}

/* Optional: Hide scrollbar for Chrome, Safari and Opera */
.snap-mandatory::-webkit-scrollbar {
  display: none;
}

/* Optional: Hide scrollbar for IE, Edge and Firefox */
.snap-mandatory {
  -ms-overflow-style: none;
  scrollbar-width: none;
}